body {
    font-family: Arial;
    padding: 20px;
}

.task-section {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 8px;
}

button {
    margin-left: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

#carousel img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}