*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 75px;
    background-color: #F7F4ED;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.logo{
    /* border: 2px solid red; */
    margin-left: 70px;
}

.link{
    /* border: 2px solid red; */
    margin-right: 70px;
}

.link a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

#spclNavLink{
    background-color: black;
    color: white;
    padding: 7px 14px;
    border-radius: 70px;
}

.main{
    height: 710px;
    background-color: #F7F4ED;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.text{
    margin-left: 115px;
    margin-top: 115px;
}
.text h1{
    font-size: 100px;
    margin-left: 60px;
}
.text p{
    font-size: 25px;
    /* border: 2px solid red; */
    margin-top: 130px;
    margin-left: 60px;
}
.text a{
    /* border: 2px solid red; */
    background-color: black;
    color: white;
    margin-top: 52px;
    margin-left: 60px;
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 30px;
    border-radius: 80px;
    text-decoration: none;
}
 

.image img{
    height: 81%;
    margin-top: 140px;
}


.footer{
    height: 90px;
    background-color: #F7F4ED;
}