body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

form {
    width: 280px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}

.error {
    color: red;
    font-size: 12px;
    height: 12px;
}